<table class="table">
    <thead>
      <tr>        
        <th scope="col">Item</th>
        <th scope="col">Comment</th>
        <th scope="col">Status</th>
        <th scope="col">Responsible Person</th>
        <th scope="col">Action(s)</th>
      </tr>
    </thead>
    <tbody>
      <% meetingItems.forEach(meetingItem => { %>
      <tr>        
          <td><%= meetingItem.item.name %></td>
          <td><%= meetingItem.comment %></td>
          <td><%= meetingItem.status.name %></td>
          <td><%= meetingItem.responsiblePerson %></td>          
          <td>
            <a class="btn btn-sm btn-warning" href="/meetings/<%= meetingItem.meetingId %>/meetingitems/<%= meetingItem.id %>/edit">Edit</a>
          </td>        
      </tr>      
      <% }) %>        
    </tbody>
  </table>